<div class="list-area">
  <label
    class="custom-file-upload"
    (dragover)="handleDragOver($event)"
    (drop)="handleDrop($event)"
  >
    <input
      type="file"
      style="display: none"
      (change)="handleFileInput($event)"
    />
    Виберіть файл або перетягніть сюди
  </label>

  <div class="owner-names-list">
    <div
      *ngFor="let name of neededCertfData; let i = index"
      [ngClass]="giveClassForSelecedName(i)"
      (click)="selectCertificate(i)"
      class="owner-name"
    >
      <p>{{ name.subjectCommonName }}</p>
    </div>
  </div>
</div>
<app-certificate-view
  *ngIf="neededCertfData.length"
  [certificate]="neededCertfData[selectedCertificate]"
></app-certificate-view>
